

.poster {
  position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160%;
    border-radius: 30px;
    margin-bottom: 20px;
}

.poster > * {
  padding: 6px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  align-items: center;
  transition: transform .3s ease;
}

.poster::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  opacity: 0;
  transition: all .3s ease;
}

.poster:hover::before {
  opacity: 1;
}

.poster:hover.poster > * {
  transform: translate(-50%, -50%) scale(1);

}

.title {
  font-size: 16px;
  transition: all .3s ease;
}

.movie-card:hover > .title {
  color: #ff0000;
}